@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

:root {
  --clr-black: rgba(0, 0, 0, 0.815);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: black;
  color: white;
  font-family: "Press Start 2P", sans-serif;
}

.display {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4em;
}

.hearts {
  position: absolute;
  left: -200px;
  margin-bottom: 3em;
}

.heart {
  width: 33px;
}

.canvas {
  display: flex;
  background: white;
  color: black;
}

.pause {
  top: 75px;
  position: absolute;
  text-align: center;
}

.pause2 {
  position: absolute;
  top: 125px;
}

h3 {
  position: absolute;
  right: -200px;
  text-align: center;
  margin-bottom: 2.5em;
  font-weight: 400;
}

.buttons {
  margin-top: 1em;
  display: flex;
  width: 380px;
  justify-content: space-between;
}

.button {
  background: transparent;
  width: 33px;
  height: 33px;
  cursor: pointer;
}

.mode-button:hover {
  transform: rotate(-15deg);
}

.music-button:hover {
  transform: rotate(15deg);
}

.light {
  background: white;
  color: black;
}

.dark {
  background: black;
  color: white;
}

@media (min-width: 500px) {
  .pause-mobile {
    display: none;
  }

  .pause-mobile2 {
    display: none;
  }
}

@media (max-width: 500px) {
  .canvas {
    display: none;
  }
  .display {
    display: none;
  }
  .buttons {
    display: none;
  }
  .pause {
    display: none;
  }
  .pause-mobile {
    text-align: center;
    font-size: 1.5em;
    padding: 0em 0.5em;
    line-height: 1.5em;
  }
  .pause-mobile2 {
    text-align: center;
    font-size: 1em;
    padding: 2em 1em;
    line-height: 1.5em;
  }
}
